<!doctype html>


<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link  href='/stylesheets/style.css' type="text/css" rel="stylesheet">
</head>


<body>
  <header>
    <nav class = "navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>Files4U</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href = '/'>Main</a></li>
          <li><a href = '/files/Games'>Games</a></li>
          <li><a href = '/files/Videos'>Videos</a></li>
          <li><a href = '/files/Audio'>Audio</a></li>
          <li><a href = '/files/Text'>Texts</a></li>
          <li><a href = '/files/Images'>Images</a></li>
          <li><a href = '/files/Software'>Software</a></li>
        </ul>
          <form action='/search' method='GET' class="navbar-form navbar-left" id="search_form">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Search" id="search" name="search">
              <div class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
            <input type="hidden" name="_csrf" value=<%=csrfToken%>>
          </form>

        <ul class="nav navbar-nav navbar-right">
            <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
            <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       </ul>
     </div>
    </nav>
  </header>
	<div class='container'>
    <h1>Login</h1>
    <form action='/login' method='POST' id="login_form">
      <div class="form-group has-feedback nameBlock">
          <label class="control-label" for="username">Username:</label>
          <input type="text" class="form-control" id="username" aria-describedby="inputSuccess2Status"  name="username">
      </div>
      <div class="form-group has-feedback passwordBlock">
          <label class="control-label" for="password">Password:</label>
          <input type="password" class="form-control" id="password" aria-describedby="inputSuccess2Status" name="password">
      </div>
      <input type="hidden" name="_csrf" value=<%=csrfToken%>>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

<br />
    <% if (error) { %>
        <div class="alert alert-danger">
          <strong>Error!</strong> <%=error%>
        </div>
        <script >
        $('.alert').show(0).delay(5000).fadeOut('slow');
        </script>
        <% } %>

	</div>
  <script src="/js/login.js"></script>
  <script src="/js/valid_search.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
